[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
pandas = "*"
lxml = "*"
openpyxl = "*"
distutils = "*"
pip = "*"
numpy = "*"
virtualenv = "==16.1"
pyinstaller = "*"

[requires]
python_version = "3.7"
