# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# Repo:
data/books

# Linux: 
nohup.out

# Compress
.7z
.zip

# special
successed/5.30/yue_pic/data.7z
successed/6.28/sac/data/info.json