# Windows:
*.exe
Thumbs.db
ehthumbs.db
Desktop.ini

# Config:
config.py
config.ini
config.txt

# Python:
*.so
*.egg
dist
build
*.py[cod]
*.egg-info

# Repo:
data/books

# Linux: 
nohup.out

# Compress
*.7z
*.zip
*.rar

# record
*.log

# VsCode
settings.json

# special
*/1688/data/data.csv
*/1688/data/already.txt
*/1688/data/final.csv
*/amazon/amazon/2020-02-25 14-24-36.xlsx
*/amazon/amazon/cookie_example.txt
*/amazon/amazon/cookie.txt
*/amazon/amazon/proxy.txt
