<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>在线充值</title>

    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css" />
    <script src="http://aichaji.naophone.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="http://aichaji.naophone.com/biji.css" />
</head>

<body>

    <!-- 使用 -->
    <!-- <a href="javascript:;" class="weui-btn weui-btn_primary">绿色按钮</a> -->

    <div class="tip">
        <b>当前剩余：</b><span>0.00元</span><br /> <b>会员到期：</b><span>非会员</span>
    </div>

    <div class="line"></div>

    <!--<div class="benefit-tip">
    <b>充会员</b><span class="benefit-detail-tip">
        会员每天：保修/官换机300次，ID激活锁100次，是否正在维修100次</span>
</div>
<div class="box">
    <div class="weui-flex">
        <div class="weui-flex__item grid">
            <div class="grid-item vip" data-money="98" data-largess="0">
                <div>
                    <span class="reward-points">1个月</span>
                </div>
                <div>
                    <span class="money">98元</span>
                </div>
            </div>
        </div>
        <div class="weui-flex__item grid">
            <div class="grid-item vip" data-money="198" data-largess="0">
                <div>
                    <span class="reward-points">3个月</span>
                </div>
                <div>
                    <span class="money">198元</span>
                </div>
            </div>
        </div>
        <div class="weui-flex__item grid three">
            <div class="grid-item vip" data-money="298" data-largess="0">
                <div>
                    <span class="reward-points">6个月</span>
                </div>
                <div>
                    <span class="money">298元</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="line"></div>-->

    <div class="benefit-tip">
        <b>充积分</b><span class="benefit-detail-tip"> 多充多送，充的越多送的越多</span>
    </div>

    <div class="box">
        <div class="weui-flex">
            <div class="weui-flex__item grid">
                <div class="grid-item" data-money="10" data-largess="0">
                    <div>
                        <span class="reward-points">10元</span>
                    </div>
                    <div>
                        <span class="benefit-money">无赠送</span>
                    </div>
                </div>
            </div>
            <div class="weui-flex__item grid">
                <div class="grid-item" data-money="30" data-largess="5">
                    <div>
                        <span class="reward-points">30元</span>
                    </div>
                    <div>
                        <span class="benefit-money">送5元</span>
                    </div>
                </div>
            </div>
            <div class="weui-flex__item grid">
                <div class="grid-item" data-money="50" data-largess="10">
                    <div>
                        <span class="reward-points">50元</span>
                    </div>
                    <div>
                        <span class="benefit-money">送10元</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-flex">
            <div class="weui-flex__item grid">
                <div class="grid-item" data-money="100" data-largess="25">
                    <div>
                        <span class="reward-points">100元</span>
                    </div>
                    <div>
                        <span class="benefit-money">送25元</span>
                    </div>
                </div>
            </div>
            <div class="weui-flex__item grid">
                <div class="grid-item item-selected" data-money="300" data-largess="100">
                    <div>
                        <span class="reward-points reward-points-selected">300元</span>
                    </div>
                    <div>
                        <span class="benefit-money benefit-money-selected">送100元</span>
                    </div>
                </div>
            </div>
            <div class="weui-flex__item grid">
                <div class="grid-item" data-money="500" data-largess="200">
                    <div>
                        <span class="reward-points">500元</span>
                    </div>
                    <div>
                        <span class="benefit-money">送200元</span>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="weui-flex">
        <div class="weui-flex__item grid">
            <div class="grid-item" data-money="500" data-largess="3000">
                <div>
                    <span class="reward-points">5000积分</span>
                </div>
                <div>
                    <span class="money">500元</span>
                </div>
                <div>
                    <span class="benefit-money">送300元</span>
                </div>
            </div>
        </div>
        <div class="weui-flex__item grid">
            <div class="grid-item" data-money="1000" data-largess="8000">
                <div>
                    <span class="reward-points">10000积分</span>
                </div>
                <div>
                    <span class="money">1000元</span>
                </div>
                <div>
                    <span class="benefit-money">送800元</span>
                </div>
            </div>
        </div>
        <div class="weui-flex__item grid be-hidden">
            <div class="grid-item" data-money="2000" data-largess="30000">
                <div>
                    <span class="reward-points">20000积分</span>
                </div>
                <div>
                    <span class="money">2000元</span>
                </div>
                <div>
                    <span class="benefit-money">送3000元</span>
                </div>
            </div>
        </div>
    </div>-->
    </div>

    <div class="benefit">
        <span>赠送： </span><span id="benefit-given">100 元</span>
    </div>

    <a href="javascript:;" class="weui-btn weui-btn_primary pay-button">支付</a>

    <script type="text/javascript" src="http://aichaji.naophone.com/biji.js"></script>

    <div id="space"></div>


</body>

</html>